[submodule "blog/public"]
	path = blog/public
	url = git@github.com:huing/huing.github.io.git
[submodule "blog/themes/ananke"]
	path = blog/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "blog/themes/stack"]
	path = blog/themes/stack
	url = https://github.com/CaiJimmy/hugo-theme-stack.git
[submodule "blog/themes/papermod"]
	path = blog/themes/papermod
	url = https://github.com/adityatelange/hugo-PaperMod.git
